* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #f4f4f4;
    font-family: Arial;
}

.button{
    background: none;
    border: 1px solid red;
    padding: 13px 5px 10px 5px;
    width: 100%;
    border-radius: 4px;
    color: red;
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content-center {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.header-wrap {
    background: black;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
}

.main-menu ul {
    display: flex;
}

.main-menu ul li {
    display: flex;
    margin-left: 22.1px;
    margin-right: 22.1px;
}

.main-menu ul li:first-child {
    margin-left: 0;
}

.main-menu ul li:last-child {
    margin-right: 0;
}

.main-menu ul li a {   
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    transition: color .2s ease-in-out;
}

.main-menu ul li a:hover {
    color: red;
}

.main-menu ul li a.is-active {
    color: red;
}

.main-menu ul li a.is-active:after {
    position: absolute;
    content: "";
    background: red;
    height: 3px;
    width: 100%;
    display: block;
    bottom: 0;
}

header .sign-out {
    display: flex;
    align-items: center;
}

header .sign-out .icon {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../images/out.png) no-repeat;
    margin-left: 7px;
    margin-top: 1px;
}

.help-content {
    display: flex;
    margin-top: 25px;
    margin-left: -7px;
    margin-right: -7px;
}

.help-content .item {
    padding-left: 7px;
    padding-right: 7px;
}

.help-content .item .body {
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.07);
    border-radius: 8px;
    padding: 30px 30px;
}

.help-content .item.help-center,
.help-content .item.live-training {
    width: 25%;
}

.help-content .item.help-center .body,
.help-content .item.live-training .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.help-content .item.contact-us {
    width: 50%;
}

.help-center .icon {
    width: 40px;
    height: 40px;
    background: url(../images/help-center.png);
}

.body p {
    margin-top: 20px;
    margin-bottom: 23px;
}

.live-training .icon {
    width: 45px;
    height: 40px;
    background: url(../images/live-trening.png) center center no-repeat;
}

