.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */
*{
    margin: 0%;
    padding: 0%;

}
.header-wrap{
background: black;
}
header{
    margin: 0 auto;
max-width:1140px;
height: 70px;
}
.logo{
    text-align: center;
    float: left;
    margin: 20px 5%;
    display: inline-block;
}
.links{
    text-align;
    display: inline-block;
    margin: 25px 0 0 10%;
}
.sign{
    float: right;
    color:white;
    margin: 25px 5%;
}
a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.sign .icon{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../Images/out.png);
}
